{% extends 'layout.html' %} {% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <h3>Search Result:</h3>
        <div class="card shadow-sm">
            <img
                src="{{ album.cover_art }}"
                class="card-img-top"
                alt="{{ album.album }} cover art"
            />
            <div class="card-body">
                <h5 class="card-title">{{ album.album }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    {{ album.artist }}
                </h6>
                <p class="card-text">
                    <strong>Release Date:</strong> {{ album.release_date }}<br />
                    <strong>Genres:</strong> {{ album.genres if album.genres
                    else 'N/A' }}
                </p>

                <form
                    action="{{ url_for('music.add_to_list', mbid=album.mbid) }}"
                    method="POST"
                >
                    <input
                        type="hidden"
                        name="artist"
                        value="{{ album.artist }}"
                    />
                    <input
                        type="hidden"
                        name="album"
                        value="{{ album.album }}"
                    />
                    <input
                        type="hidden"
                        name="release_date"
                        value="{{ album.release_date }}"
                    />
                    <input
                        type="hidden"
                        name="genres"
                        value="{{ album.genres }}"
                    />
                    <input
                        type="hidden"
                        name="cover_art"
                        value="{{ album.cover_art }}"
                    />

                    <button type="submit" class="btn btn-success w-100">
                        Add to List
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
