<form action="/change/<%= @artist %>" method="post">
  <dl>
    <dt>
      <label for="artist_name">Enter the new artist name for <%= @artist %>:</label>
    </dt>
    <dd>
    <input name="new_artist_name" placeholder="" type="text" value="<%= @artist %>">
    </dd>
  </dl>

  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/artists">Cancel</a>
  </fieldset>
</form>