<!doctype html>
<html lang="en-US">
  <head>
    <title>MusicTracker</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <header>
      <h1>
        <a href="/">MusicTracker</a>
      </h1>
      
      <div class="actions">
        <%== yield_content :header_links %>
      </div>
    </header>

    <% if session[:success]%>
      <div class="flash success">
        <p><%= session.delete(:success)%></p>
      </div>
    <% end %>

    <% if !session[:error].empty? %>
        <% session[:error].each do |statement| %>
          <div class="flash error">
            <p><%= statement %></p>
          </div>
        <% end %>
      <% session[:error] = [] %>
    <% end %>

    

    <main>
      <%== yield %>
    </main>
  </body>
</html>