Sign Up for MusicTracker

<form method='post' action='/users/signup'>
  <div class='actions'>
    <label for='username'> Username:
      <input name='username' id='username' value="<%= @username || params[:username] %>" />
    </label>
  </div>

  <div>
    <label for='password'> password:
      <input name='password' id='password' type='password' value='' />
    </label>
  </div>

  <button type='submit'>Sign Up</button>
</form>